<div class="offer-container" #offerLetter id="offerLetter">

    <div class="top-design"></div>

    <div class="logo-section">

        <img src="assets/logo.png" alt="TVK Logo">

        <h1>TVK Technologies</h1>

        <h2>Internship Offer Letter</h2>

    </div>

    <div class="date-section">

        <strong>Date :</strong> {{student.date}}

    </div>

    <div class="dear-section">

        <strong>Dear</strong>

        {{student.studentName}}

        ({{student.studentId}}),

    </div>

    <div class="content-section">

        We are pleased to offer you an internship position as

        <b>{{student.role}}</b>

        at TVK Technologies - Chennai.

        Your internship will begin on

        <b>{{student.startDate}}</b>

        and span

        <b>{{student.duration}}</b>.

        This opportunity includes technical training,
        real-time project exposure and professional
        development.

    </div>

    <div class="terms-section">

        <h3>Terms & Conditions:</h3>

        <ol>

            <li>
                Attendance Requirement:
                Minimum 90% attendance.
            </li>

            <li>
                Full Participation:
                Attend all sessions and tasks.
            </li>

            <li>
                Dress Code:
                Follow professional attire.
            </li>

            <li>
                Adherence To Policies:
                Follow company rules.
            </li>

        </ol>

    </div>

    <div class="closing-section">

        We look forward to having you on board
        and supporting your career journey.

        <br><br>

        Best wishes,

    </div>

    <div class="stamp-section">

        <img src="assets/stamp.png" alt="Stamp">

    </div>

    <div class="footer">

        <span>
            <b>Phone:</b> 9443938850
        </span>

        
        <span>
            <b>Website:</b> www.tvktechs.com
        </span>

        <span>
            <b>Email:</b> hr@tvktechs.com
        </span>

    </div>

    <div class="bottom-design"></div>

</div>
