.offer-container {

    width:794px;
    min-height:1123px;

    margin: 20px auto;

    background: white;

    position: relative;

    padding: 60px;

    font-family: "Times New Roman", serif;

    box-shadow: 0 0 10px gray;
    box-sizing:border-box;

}

.top-design {

    position: absolute;

    top: 0;

    left: 0;

    width: 100%;

    height: 250px;

    background: #0172ce;

    clip-path: polygon(
      0 0,
      100% 0,
      100% 35%,
      18% 10%,
      0 35%
    );

    z-index: 1;

}

.logo-section {

    text-align: center;

}


.logo-section img {

    width: 220px;
    margin-top: 10px;

}

.logo-section h1 {

    color: #0472c5;

    margin-top: 10px;

}

.logo-section h2 {

    margin-top: 10px;

}

.date-section {

    margin-top: 30px;

    font-size: 15px;

}

.dear-section {

    margin-top: 20px;

    font-size: 15px;

}


.content-section {

    margin-top: 20px;

    text-align: justify;

    line-height: 28px;

}

.terms-section {

    margin-top: 25px;

}

.terms-section li {

    margin-bottom: 10px;

    text-align: justify;

}


.closing-section {

    margin-top: 30px;

}

.stamp-section {

    margin-top: 20px;

}

.stamp-section img {

    width: 120px;

}

.footer {

    margin-top: 50px;

    display: flex;

    justify-content: space-between;

    font-size: 14px;

}


.bottom-design {

    position: absolute;

    bottom: 0;

    left: 0;

    width: 100%;

    height: 60px;

    background: #0b79d0;

    clip-path: polygon(
      0 100%,
      0 0,
      20% 70%,
      80% 0,
      100% 0,
      100% 100%
    );

}